body {
   background-color: floralwhite;
   font-family: cursive;
}

.container {
    background-color: palegoldenrod;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    margin-top: 250px;
    width: 750px;
    margin-left: 500px;
    text-align: center;
    align-items: center;
    height: 500px;
}

.heading {
    font-size: 50px;
    font-family: italic;
    text-decoration:underline;
}

.title {
    font-size: 45px;
}

button {
    font-size: 30px;
    height: 55px;
    width: 150px;
    background-color: chocolate;
    border-color: chocolate;
    color: aliceblue;
    border-radius: 15px;
    margin-top: 40px;
}

button:hover {
    cursor: pointer;
    background-color: brown;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: floralwhite;
    font-family: cursive;
}

nav {
    background-color: beige;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
}

nav .logo {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav img {
    height: 50px;
    width: 95px;
    margin-right: 20px;
}

nav h1 {
    color: chocolate;
    margin: 0;
}

nav p {
    font-size: 15px;
    color: brown;
    margin: 0;
}

.nav-buttons ul {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    list-style: none;
}

.nav-buttons ul li {
    margin-right: 20px;
    height: 60px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-buttons ul li a {
    text-decoration: none;
    color: orangered;
}

.nav-buttons ul li:hover {
    background-color: floralwhite;
}
